<h6>Job Board</h6>
<%if(!user) { %>
  <a class="badge badge-sm bg-gradient-info" href="/login">Login</a>
  <a class="badge badge-sm bg-gradient-warning" href="/register">Register</a>
<% } %>

<div class="row">
  <%if(user) { %>
    <div class="ms-3">
      <p class="mb-4">
        Welcome, <%= user.name %>
      </p>
    </div>
  <% } %>
  <% jobs.forEach(job => { %>
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4 py-2">
      <div class="card">
        <div class="card-header p-2 ps-3">
          <div class="d-flex justify-content-between">
            <div>
              <p class="text-sm mb-0 text-capitalize"><%= job.user_id.name %></p>
              <h4 class="mb-0"><%= job.title%></h4>
            </div>
          </div>
        </div>
        <hr class="dark horizontal my-0">
        <div class="card-footer p-2 ps-3">
          <p class="mb-0 text-sm">
            <% if (job.salary === null) { %>
              Salary undisclosed
            <% } else { %>
              Rp <%= job.salary.toLocaleString('id-ID') %>
            <% } %>            
          </p>
          <p class="mb-0 text-sm"><%= job.location %></p>
          <% if (user) { %> <!-- Only show bookmark button if the user is logged in -->
            <% if (!job.isBookmarked) { %>
              <form action="/bookmark/create" method="POST" style="display: inline;">
                <input type="hidden" name="job_id" value="<%= job._id %>">
                <input type="hidden" name="user_id" value="<%= user._id %>">
                <button type="submit" class="badge badge-sm bg-gradient-primary mt-1" style="border: none;">
                  Add to bookmarks
                </button>
              </form>
            <% } else { %>
              <p>Already bookmarked</p>
            <% } %>
          <% } %>
        </div>
      </div>
    </div>
  <% }) %>
</div>

<script>
  const form = document.querySelector('form');
  form.addEventListener('submit', async(e) => {
      e.preventDefault();

      const job_id= form.job_id.value;
      const user_id = form.user_id.value;

      try{
          const res = await fetch('/bookmark/create', {
              method: 'POST',
              body: JSON.stringify({job_id, user_id}),
              headers: {'Content-type' : 'application/json'}
          });
          const data = await res.json();
          console.log(data);

          if(data.status === 'success'){
              window.location.assign('/bookmarks');
          };
      }catch(err){
          console.log(err);
      }
  });
</script>